<div *ngIf="products.length > 0 else noElements">
  <ol>
    <li *ngFor="let product of products; trackBy: trackById">
      <app-product [product]="product"></app-product>
    </li>
  </ol>
  <div class="total">
    <span class="total-count">Total count: <span>{{count}}</span></span>
    <span class="total-price">Total price: <span>{{total}}</span></span>
  </div>
</div>
<ng-template #noElements>
  <div class="empty-cart">
    <div class="wrap">
      <span>Cart is empty</span>
    </div>
  </div>
</ng-template>