<div *ngIf="!(isCartEmpty | async) else noElements">

  <div class="sorting">
    <span>Order by </span>
    <select [(ngModel)]="orderBy">
      <option>Price</option>
      <option>Count</option>
      <option>Name</option>
    </select>
    <input id="asc" type="checkbox" [(ngModel)]="ascending">
    <label for="asc">Ascending</label>
  </div>

  <ol>
    <li *ngFor="let product of products | async; trackBy: trackById | orderBy : orderBy : ascending">
      <app-product [product]="product"></app-product>
    </li>
  </ol>
  <div class="clear">
    <app-button [name]="'Clear cart'" (click)="onCartClear()"></app-button>
    <a [routerLink]="['/', 'order']" routerLinkActive="active-link">
      <app-button [name]="'Finish payment'" [isActive]="true"></app-button>
    </a>
  </div>
  <div class="total">
    <span class="total-count">Total count: <span>{{count | async}}</span></span>
    <span class="total-price">Total price: <span>{{total | async}}</span></span>
  </div>
</div>
<ng-template #noElements>
  <div class="empty-cart">
    <div class="wrap">
      <span>Cart is empty</span>
    </div>
  </div>
</ng-template>