:host
    width: 70%

    ol li
        margin: 5px

    .empty-cart
        .wrap
            background: #efefef
            display: flex
            justify-content: center
            padding: 50px
            border: solid 1px #eaea