:host
    width: 100%

    .card-container
        .card
            display: flex
            align-items: center
            background: #1976d2
            padding: 10px
            color: #fff

            span, div
                flex-grow: 1
                flex-basis: 200px
                margint: 10px